<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<items>
	<item>
		<name>Cappuccino</name>
		<description>An espresso-based coffee drink.</description>
		<imageName>cappuccino.jpg</imageName>
		<cost>12.15</cost>
	</item>
	<item>
		<name>Latte</name>
		<description>A shot of espresso and steamed milk with just a touch of foam.</description>
		<imageName>latte.jpg</imageName>
		<cost>13.15</cost>
	</item>
	<item>
		<name>Americano</name>
		<description>An espresso shot diluted in hot water.</description>
		<imageName>americano.jpg</imageName>
		<cost>11.15</cost>
	</item>
	<item>
		<name>Espresso</name>
		<description>An espresso shot can be served solo or used as the foundation.</description>
		<imageName></imageName>
		<cost>12.15</cost>
	</item>
	<item>
		<name>Doppio</name>
		<description>A double shot of espresso.</description>
		<imageName></imageName>
		<cost>9.15</cost>
	</item>
	<item>
		<name>Cortado</name>
		<description>A cortado is the perfect balance of espresso and warm steamed milk.</description>
		<imageName></imageName>
		<cost>19.15</cost>
	</item>
	<item>
		<name>Red Eye</name>
		<description>A full cup of hot coffee with an espresso shot mixed in.</description>
		<imageName></imageName>
		<cost>14.15</cost>
	</item>
	<item>
		<name>Galão</name>
		<description>Closely related to the latte and cappuccino but contains about twice as much foamed milk.</description>
		<imageName></imageName>
		<cost>13.15</cost>
	</item>
	<item>
		<name>Lungo</name>
		<description>A lungo is a long-pull espresso.</description>
		<imageName></imageName>
		<cost>17.15</cost>
	</item>
	<item>
		<name>Macchiato</name>
		<description>A happy medium between a cappuccino and a doppio.</description>
		<imageName></imageName>
		<cost>16.15</cost>
	</item>
</items>